@model Nop.Plugin.Widgets.HomePageNewProductsPlugin.Models.ConfigurationModel
@using Nop.Web.Framework

@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")


<form asp-controller="WidgetsHomePageNewProducts" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                Header 1
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @*<div class="col-md-3">
                        <nop-override-store-checkbox asp-for="WidgetZone_OverrideForStore" asp-input="WidgetZone" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="WidgetZone" />
                    </div>*@                    
                </div>
                <div class="form-group">
                    <label asp-for="WidgetZone" class="col-md-2 control-label">Select Widget Zone</label>
                    <div class="col-md-10">
                        <select asp-for="WidgetZone" asp-items="Html.GetEnumSelectList<Nop.Plugin.Widgets.HomePageNewProductsPlugin.WidgetZone>()">
                            <option value="">Select Zone</option>
                        </select>
                        <span asp-validation-for="WidgetZone" class="text-danger" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

